.producto{

    width: 500px;
    height: 500px;
    margin: 10px;
float: left;
text-align: center;

}

.imgProductos
{
    width: 250px;
    height: 350px;

}

button
{

clear: both;
background: #472281;
color: white;
}