.bestseller
{
width: 250px;
height: 250px;
float: left;

background-color: darkslateblue;
margin: 5px; 
text-align: center;
border-style: solid;
border-radius: 10px;

}
.bestseller img
{

width: 50%;
padding-top: 10px;

}

#contH
{
color: white;
text-align: center;
padding-left: 13%;
padding-right: 13%;
}

